<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FftTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FftTest.Properties.Settings>
            <setting name="Amplitude0" serializeAs="String">
                <value>0.866</value>
            </setting>
            <setting name="Amplitude1" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Amplitude2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Amplitude3" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="Amplitude4" serializeAs="String">
                <value>-0.866</value>
            </setting>
            <setting name="Amplitude5" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Amplitude6" serializeAs="String">
                <value>-0.866</value>
            </setting>
            <setting name="Amplitude7" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="Amplitude8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Amplitude9" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Amplitude10" serializeAs="String">
                <value>0.866</value>
            </setting>
            <setting name="Amplitude11" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Amplitude12" serializeAs="String">
                <value>0.866</value>
            </setting>
            <setting name="Amplitude13" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Amplitude14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Amplitude15" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="SampleCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="UpsampleMultiple" serializeAs="String">
                <value>2</value>
            </setting>
        </FftTest.Properties.Settings>
    </userSettings>
</configuration>